{% extends "layout.html"%}

{% block content %}

    <h1>用户列表</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>昵称</th>
                <th>查看代码提交记录</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data_list %}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.user}}</td>
                    <td>{{row.nickname}}</td>
                    <td>
                        <a href="/detail/{{row.id}}">查看</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}